img.site_info {
    display: block;
    margin-left:95%;
    width: 30px;
}

img.location_images_small {
    max-height: auto;
    height: 150px;
    width: 260px;
}

img.location_images {
    display: block;
    margin: 0 auto;
    width: 40%;
}

img.contacts {
    display: block;
    margin: 0 auto;
}

img.site_icon {
    width: 40px;
    display: block;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 40%;

}

img.profile_icon {
    width: 40px;
    display: block;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-right: 40%;
}