* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: #252525;
    background-image: url("/assets/pictures/system/background_img.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: rgba(0, 0, 0, 0);
    filter: alpha(opacity=20);
}

div.header_background_transparent {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0);
    filter: alpha(opacity=20);
}

div.background_transparent {
    min-height: 100vh;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.8);
    filter: alpha(opacity=20);
}

div.horizontal_block {
    display: flex;
}

table.locations {
    margin-left: auto;
    margin-right: auto;
}

tr.locations {
    margin-left: auto;
    margin-right: auto;
}

select.menu {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding-inline: 15px;
    padding-block: 5px;
    background: #00050f;
    color: aliceblue;
    border: none;
}

iframe.youtube_videos {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}